<html>
{{>head}}

<body>

    {{>header}}

    <div class="jumbotron text-center">
        <h1>{{title}}</h1>
        <p>Resize this responsive page to see the effect!</p>
        <img src="./images/video-play.png" width="70" alt="">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>{{name}}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>{{name}}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>{{name}}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>